 <div class="recepie_videoes_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="recepie_info">
                        <h3>Recipe videos 
                            that never misses 
                            any portion</h3>
                    <p>Coming soon you will be able to watch cooking videos. Get to follow along to make the perfect dish from our recipes.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="videos_thumb">
                        <div class="big_img">
                            <img src="https://res.cloudinary.com/optprime/image/upload/v1658924698/community_blog/big_hr2w7j.png" alt="Cooking video">
                        </div>
                        <div class="small_thumb">
                            <img src="https://res.cloudinary.com/optprime/image/upload/v1658924698/community_blog/small_1_yd1xix.png" alt="burger">
                        </div>
                        <div class="small_thumb_2">
                            <img src="https://res.cloudinary.com/optprime/image/upload/v1658924698/community_blog/2_qtr8y7.png" alt="pancakes">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>